body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header,
  .footer {
    background-color: #e294cb;
    color: rgb(144, 10, 221);
    padding: 1rem;
  }
  
  .main-container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: #388db4;
    padding: 1rem;
    width: 200px;
  }
  
  .body-content {
    padding: 1rem;
    flex: 1;
  }